<div>
  <div class="row">
    <div class="col-sm-12">
      <div class="page-title-box">
        <div class="btn-group pull-right">
          <ol class="breadcrumb hide-phone p-0 m-0">
            <li>
              <a [routerLink]="['/dashboard']">Principal</a>
            </li>
            <li class="active">
              Empresa
            </li>
          </ol>
        </div>
        <h4 [class.hidden]="inEditMode" class="modal-title">INCLUSÃO DE EMPRESA</h4>
        <h4 [class.hidden]="!inEditMode" class="modal-title">EDIÇÃO DE EMPRESA</h4>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="card-box table-responsive">
        <div>

          <div>
            <form id="formFornecedor" #form="ngForm" (ngSubmit)="save()" data-parsley-validate="">
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="nome" class="control-label"><font color="red">Nome</font></label>
                    <input autocomplete="off" name="nome" type="text" [(ngModel)]="currentEmpresa.nome" parsley-trigger="change" required class="form-control" id="nome" placeholder="">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="cnpj" class="control-label"><font color="red">Cnpj</font></label>
                    <input autocomplete="off" name="cnpj" type="text" [(ngModel)]="currentEmpresa.cnpj" parsley-trigger="change" required class="form-control" id="cnpj" placeholder="">
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="pontoVenda" class="control-label"><font color="red">Ponto de Venda</font></label>
                    <input autocomplete="off" name="pontoVenda" type="text" [(ngModel)]="currentEmpresa.pontoVenda" parsley-trigger="change" required class="form-control" id="pontoVenda" placeholder="">
                  </div>
                </div>
              </div>



              <div class="modal-footer">
                <div class="form-group">
                  <button type="submit" class="btn btn-custom waves-effect waves-light">{{buttonLabel}} <i class="mdi mdi-content-save"></i></button>
                  <button type="button" class="btn btn-orange waves-effect waves-light" [routerLink]="['/empresa']">Voltar <i class="mdi mdi-exit-to-app"></i></button>


                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



