

  <div class="table-grid">

    <!-- Page-Title -->
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
          <div class="btn-group pull-right">
            <ol class="breadcrumb hide-phone p-0 m-0">
              <li>
                <a [routerLink]="['/dashboard']">Principal</a>
              </li>
              <li class="active">
                Empresa
              </li>
            </ol>
          </div>
          <h4 class="page-title">LISTA DE EMPRESAS</h4>
        </div>
      </div>
    </div>
    <!-- end page title end breadcrumb -->

    <div class="row">
      <div class="col-sm-12">
        <div class="card-box table-responsive">
          <div class="row">
            <div class="col-sm-6">
              <div class="m-b-30">
                <button (click)="create()" class="btn btn-orange waves-effect waves-light" [routerLink]="['/empresa',  -1]">Adicionar <i class="mdi mdi-check-circle-outline"></i></button>
                <!--<button class="btn btn-success waves-effect waves-light">Importar CSV <i class=" mdi mdi-export"></i></button>-->
              </div>
            </div>
          </div>
          <table id="grdListaFornecedor" datatable [dtOptions]="dtOptions" class="table table-colored table-primary table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th style="background-color: #A2ADAF;" class="text-center">ID</th>
                <th style="background-color: #A2ADAF;" class="text-center">Nome</th>
                <th style="background-color: #A2ADAF;" class="text-center">Cnpj</th>
                <th style="background-color: #A2ADAF;" class="text-center">AÇÕES</th>
              </tr>
            </thead>
            <tbody *ngIf="empresas?.length != 0">
              <tr *ngFor="let empresa of empresas">
                <td class="text-right">{{ empresa.id }}</td>
                <td>{{ empresa.nome | uppercase}}</td>
                <td>{{ empresa.cnpj}}</td>
                <td class="text-center" nowrap>
                  <a title="Editar" [routerLink]="['/empresa',  empresa.id]" class="table-action-btn h3"><i class="mdi mdi-pencil-box-outline text-success"></i></a>
                  <a title="Excluir" href="javascript: void(0);" (click)="remove(empresa.id); $event.stopPropagation()" class="table-action-btn h3"><i class="mdi mdi-close-box-outline text-danger"></i></a>
                  <a title="Adicionar Filiais" [routerLink]="['/vincula',  empresa.id]" class="table-action-btn h3"><i class="mdi mdi-border-all text-primary"></i></a>
                  <a title="Vincular Adiquirentes" [routerLink]="['/empresafornecedores',  empresa.id]" class="table-action-btn h3"><i class=" mdi mdi-rename-box text-primary"></i></a>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="empresas?.length == 0">
              <tr>
                <td colspan="3" class="no-data-available">Nenhuma Empresa encontrada!</td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



